<div class="container">
  <h2>Select Type</h2>
  <div class="options">
    <label class="radio-option">
      <input
        type="radio"
        name="userType"
        value="Vendor"
        (click)="navigateBasedOnRole('Vendor')"
      />
      <span class="radio-label">Vendor</span>
    </label>
    <label class="radio-option">
      <input
        type="radio"
        name="userType"
        value="Customer"
        (click)="navigateBasedOnRole('Customer')"
      />
      <span class="radio-label">Customer</span>
    </label>
  </div>
</div>
